<%- include('./layouts/header'); -%>
<body>
  <nav>
    <div class="nav-brand">
      <h3>Analisis Sentimen API</h3>
    </div>
  </nav>
  <main>
    <div class="main-analyze">
      <div class="main-head">
        <h1>Analisis Sentimenmu</h1>
        <p>
          Cukup masukkan teks dalam kotak input di bawah ini, lalu klik tombol
          "Analisis". Saya akan memberikan Anda hasil analisis sentimen teks
          tersebut. Dengan cara ini, Anda dapat menemukan apakah teks tersebut
          dianggap positif atau negatif.
        </p>
      </div>
      <div class="main-body">
        <form id="analyze-form">
          <input type="text" name="review" value="barang ini sangat bagus" />
          <button type="submit">Analisis</button>
        </form>
      </div>
    </div>

    <!-- API INFO -->
    <div class="main-api">
      <div class="api-block">
        <h2>Ingin Menggunakan API Ini?</h2>
        <p>
          berikut cara memanggil API menggunakan bahasa pemrograman javascript
          dengan fetch API:
        </p>
        <pre>
          <code>
            // Masukan ulasan yang ingin coba di analisis
            const requestBody = {
              review: "Ulasan sebuah produk"
            };
            
            // Lakukan Fetch ke API Endpoint yang disediakan
            fetch('http://localhost:3000/api/analyze', {
              // Resuest yang digunakan berupa POST
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              // Jangan lupa tabahkan body ke dalam request
              body: JSON.stringify(requestBody)
            })
              .then(response => response.json())
              .then(data => {
                console.log(data);
              })
              .catch(error => {
                console.log('Terjadi kesalahan:', error);
              });
            
          </code>
        </pre>
      </div>
      <div class="api-accuracy">
        <h2>Akurasi Model</h2>
        <div class="api-accuracy-result"></div>
        <p style="margin: 0">
          *akurasi ini didapat dari membandingkan test_data dengan model yang
          telah dilatih
        </p>
      </div>
    </div>
    <div class="main-csv">
      <h2>Analisis Multiple Data Menggunakan CSV Format</h2>
      <p>
        Ingin menganalisis data sekaligus banyak? tidak perlu khawatir, upload
        data CSV mu disini dan akan saya analsis tiap tiap ulasannya
      </p>
      <p style="font-size: 0.8rem">*CSV hasrus memiliki header "ulasan"</p>
      <form id="fileUpload">
        <input type="file" name="review" />
        <button type="submit">Analyze</button>
      </form>
    </div>
  </main>
  <div class="analyze-layer">
    <div class="analyze-bg"></div>
  </div>
  <div class="analyze-layer-csv">
    <div class="analyze-bg-csv">
      <span class="close">X</span>
      <table id="ulasanTable" style="width: 100%">
        <thead>
          <th>No</th>
          <th>Ulasan</th>
          <th>Sentiment</th>
          <th>Tanggal Dibuat</th>
        </thead>
      </table>
    </div>
  </div>

  <!-- HISTORY ANALYZE -->
  <div class="analyze-history">
    <h2>History Analisis</h2>
    <table id="historyTable">
      <thead>
        <th>No</th>
        <th>Ulasan</th>
        <th>Sentiment</th>
        <th>Tanggal dibuat</th>
      </thead>
    </table>
  </div>
</body>
<script src="/js/analyzePage.js"></script>
<%- include('./layouts/footer'); -%>
